
p, ol, ul{
	color: #777;
}

footer {
	background: #444;
	margin-top: 25px;
	padding: 25px;
}
footer * {
	color: white;
}
footer a {
	color: #2ba6cb;
}
footer .copyright {
	font-size: .85em;
}
.stay-connected a {
	margin: 0 10px 0 10px;
}

pre {
	-moz-tab-size: 4;
	-o-tab-size:  4;
	tab-size: 4;
	overflow: auto;
}

#home-page-header {
	background: linear-gradient(#f1f1f1, white);
	padding-top: 150px;
	height: 500px;
}

.resource-header {
	padding-top: 25px;
}

.privacy h2 {
	padding-top:25px;
}
.privacy span {
	color: #777;
	font-style: italic;
}
.privacy p {
	padding-left: 15px;
	padding-right: 15px;
}
.privacy ul, .quick-list {
	list-style-type: none;
}

.cref-index > li {
	padding: 20px !important;
}

.title-panel {
	border: 1px solid #ccc;
}
.title-panel h3 {
	background: #fafafa;
	border-bottom: 1px solid #ccc;
	margin: 0;
}
.title-panel h3, .title-panel-content {
	padding: 10px;
}

.term-def-wrap {
	padding: 10px;
}
.term {
	background: #fafafa;
	color: #444;
}
.term, .def {
	border: 1px solid #ccc;
	padding: 10px 10px 10px 10px !important;
}
.def p {
	margin-bottom: 0;
}
@media only screen and (max-width: 40em) {
	.term {
		border-bottom: none;
	}
}
@media only screen and (min-width: 40.063em) {
	.term {
		border-right: none;
	}
}

.about-toprow {
	margin-top: 25px;
}

.sep {
	padding-left: .5em;
	padding-right: .5em;
}

.footnotes, pre {
	background: #fafafa;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 20px;
	padding-bottom: 5px;
	overflow: auto;
}
.footnotes b, .footnotes p {
	font-size: .8rem;
}
.footnotes p {
	margin-bottom: .625rem;
}

